body {
  font-family: 'Inter Variable', sans-serif;
  color: white;
}

.monaco-editor > div,
.monaco-editor {
  border-radius: 10px;
}

@supports selector(::-webkit-scrollbar) {
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2e2c2c;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4b4848;
  }
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: #2e2c2c transparent;
    scrollbar-width: thin;
  }
}
