---
import BaseLayout from '@layouts/BaseLayout.astro'
import Modal from '@components/Modal.astro'
import DocumentEditor from '@components/DocumentEditor.astro'
---

<BaseLayout>
  <Modal open>
    <h2 class="text-2xl font-bold text-gray-50">Share document</h2>
    <p>Here is the link to the document</p>
  </Modal>
  <DocumentEditor />
</BaseLayout>
