---
import BaseLayout from '@layouts/BaseLayout.astro'
import DocumentEditor from '@components/DocumentEditor.astro'
---

<BaseLayout showTabs>
  <div class="h-96">
    <DocumentEditor showControls />
  </div>
</BaseLayout>
