---
import { Head as CapoHead } from 'astro-capo'
---

<CapoHead>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>SmllClip</title>
</CapoHead>
