---
interface Props {
  id?: string
  open?: boolean
}

const { open, id } = Astro.props
---

<div
  id={id}
  aria-hidden={!open}
  class={`${open ? '' : 'hidden'} w-full h-full absolute flex justify-center items-center right-0 top-0 z-10 bg-neutral-800/40 rounded-md shadow-lg`}>
  <div class="w-96 bg-neutral-800 rounded-md p-8">
    <slot />
  </div>
</div>

<script>
  const modal = document.getElementById('modal') as HTMLDialogElement

  document.addEventListener('mousedown', (e) => {
    if (e.target === modal) {
      modal.style.display = 'none'
      modal.setAttribute('aria-hidden', 'true')
    }
  })
</script>
