---
import Head from '@components/Head.astro'
import '@fontsource-variable/inter'
import '@styles/global.css'
---

<html lang="en">
  <Head />
  <body class="max-w-7xl mx-auto bg-neutral-950 mt-36">
    <slot />
  </body>
</html>
